/* body{
    line-height:2!important;
} */
.popular:hover img {
    transform: scale(1.4);
}

.popular img {
    height: 200px;
    width: 260px;
    border-radius: 50%;
}
/* .video img {
    height: 200px;
    width: 270px;
} */

.navbar-nav a:hover {  
    opacity:0.5;
}

@media all and (min-width: 992px) {
	.navbar .nav-item:hover .dropdown-menu{ display: block; }	
}	

.heading:before{
    position: absolute;
    content: "";
    width: 10px;
    top: 0px;
    left: 0;
    bottom: 0;
    background: #ee1e46;
}

.icon .fa {    
    font-size: 30px;
    width: 50px;
    height: 50px;    
    border-radius: 50%;
    background: #ee1e46;
    color:black;      
  }

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

 @media all and (max-width: 500px) {	
    .latest-News h4{
        text-align: center;
    }      
}
  
footer p{
    margin-bottom: 0rem;
}

.contact .image {
  position: relative;
  margin-bottom: 200px;
  height: 650px;
  background-image: url(../img/back-ground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .form__wrap {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -160px;
}

.contact .inner__wrap {
  padding: 30px 40px 30px 40px;
  border-bottom: 4px solid #c5ab50;
  box-shadow: 0px 50px 100px 0px rgba(3, 3, 3, 0.02);
  background: #2a2a2c;
}
@media (max-width: 768px){
.display-2 {  
 display: none;
}
}
.display-2 { 
  font-size: 3rem;
  padding-bottom: 20px;  
} 
.image{
  margin-bottom: 0px;
}
.display-4 {    
  font-size: 1.0625rem;  
}
.contact .phone {
  color: #c5ab50;
}
@media (max-width: 768px){
.display-5 {
  font-size: 1.2rem;
  font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
  line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
}
}
.contact .icon .fa{
  background: #c5ab50;
}

.i1:after {
  
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.i1:hover:after {
  opacity:1;
}
.badge { 
  position: relative; 
  top: -20px; 
  
  border: 1px solid black; 
  border-radius: 50%; 
 }  

 .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
@media (max-width: 768px){
  .hovereffect{
    padding-left:19px;
  }
  }
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.col-lg-3{
  display: inline-block;
  margin-left:-4px ;
}

.col-md-3{
  display: inline-block;
  margin-left:-4px;
}

.indoor .card{
  border: none;
}
.image-responsive{
  border-radius: 50%;
}
.video h1{
  color: #ee1e46;
}
video{  
  width:500px;
}
@media (max-width: 768px){
  video{
    width:296px;
    padding-top:5%;
  }
  }
.icon1 .fa{
  margin-right: 20px;
  font-size: 3em;
  opacity: 2px;
}
.deliver .col-lg-4{
  border-right: 1px solid #555;
  }
  .services-block{
    background-color: #171717;
  } 
  .original{
    text-decoration: line-through;
  }
 .logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px
}

.login .image {
  width: 360px;
  height: 280px
}
.form .fa{
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer
}
.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px
}
input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px
}
.btn-blue {
  background-color: #1A237E;
  width: 150px;
  color: #fff;
  border-radius: 2px
}
@media screen and (max-width: 991px) {
  .logo {
      margin-left: 0px
  }

  .form .image {
      width: 300px;
      height: 220px
  }

  .border-line {
      border-right: none
  }

  .card2 {
      border-top: 1px solid #EEEEEE !important;
      margin: 0px 15px
  }
}
.list .form-check-input{
  margin-left:-7.25rem;
}

.popular-img img{
  height:200px;
  width:200px;
}
.shoe img{
  height:100px;
  width: 100px;
}
.category-area h1{
  font-size: 70px;
 color:gray;
}
.category-area .fa,h4,.discount h3{
  color:#FBBA42;
}
.discount{
  margin:90px 0px 90px;
}
/* .discount h3{
  color:#FBBA42;
} */

